body {
  background-color: #c8c8c8;
}

#barra_navagacion {
  width: 100%;
  height: 30px;
  background-color: #aad;
}

#modo_vis {
  margin: 5px;
}

#blockly {
  width: 100%;
}

.texto {
  margin: 5px;
}

.boton {
  margin: 5px;
}
